---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600,300|Lato:400,700,400italic|Inconsolata:400,700);

@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "mixins";
// @import "pagination"; turned off until we actually need it

/*
  Base
 */
body {
  margin: 0;
  padding: 0;

  background-color: $base-body-bg;
  color: $base-font-color;

  font: {
    family: $base-font-family;
    weight: 300;
    size: $base-font-size;
  }
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.2s linear;

  &:active,
  &:focus,
  &:hover {
    color: $link-color-highlight;
    transition: color 0.05s linear;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $heading-font-family;
  }

  line-height: $heading-line-height;
  margin: modular-scale(1) 0 $small-spacing;
}

h1 {
  font: {
    weight: 700;
    size: modular-scale(3);
  }
}

h2 {
  font: {
    weight: 700;
    size: modular-scale(2);
  }
  color: lighten($base-font-color, 5%);
}

h3 {
  font: {
    weight: 400;
    size: modular-scale(1);
  }
  color: lighten($base-font-color, 10%);
}

h4 {
  font: {
    weight: 400;
    size: modular-scale(1);
    style: italic;
  }
  color: lighten($base-font-color, 20%);
}

ul {
  li {
    list-style-type: circle;
  }
}

p {
  margin: 0 0 $small-spacing;
}

code {
  font-family: $mono-font-family;
  font-weight: 400;
}

pre code {
  border-radius: $base-border-radius;
}

/*
  Main grid
 */
// $grid-columns : 12
$header-columns: 3;
$main-columns: $grid-columns - $header-columns;

body {
  @include outer-container(100%);

  > header,
  > main,
  > footer {
    @include span-columns($grid-columns);
  }

  > header {
    @include media($desktop-up) {
      @include span-columns($header-columns);
      @include fix-left;
    }
  }

  > main,
  > footer {
    @include media($desktop-up) {
      @include span-columns($main-columns);
      @include shift($header-columns);
    }
  }

  > main,
  > footer {
    padding: $gutter;
    @include media($desktop-up) {
      padding-left: 0;
    }
  }
}

/*
  Header
 */
// Colours
body {
  > header {
    color: $header-font-color;

    &,
    nav {
      background-color: $header-bg;
    }

    a {
      color: $header-font-color;
      &.active {
        font-weight: bold;
        color: $header-font-highlight;
      }
    }

    h1 a,
    a:active,
    a:focus,
    a:hover {
      color: $header-font-highlight;
    }

    nav {
      @include media($desktop-down) {
        @include brand-border(bottom);
      }
    }
    @include media($desktop-up) {
      @include brand-border(right);
    }
  }
}

// Positioning & Sizing
body {
  > header {
    text-align: center;

    // @include vertical-padding(1.5rem);

    a {
      display: block;
      padding: 10px;
    }

    nav {
      li {
        display: inline-block;
        @include media($desktop-up) {
          display: list-item;
        }
      }
    }
  }
}

// Stickiness
@include media($desktop-down) {
  #affix-outer.affix {
    #affix-sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}

// Other
.site-title {
  font-size: $title-font-size;
  margin: modular-scale(-2) 0;
  @include media($desktop-up) {
    margin: modular-scale(1) 0 $small-spacing;
  }
}

body {
  > header {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

/*
  Articles
 */
article {
  background-color: white;
  @include card;
  padding: $gutter;
  margin-bottom: $gutter;

  &:last-child {
    margin-bottom: 0;
  }

  header {
    h1 {
      @include vertical-margin(0);
    }
    margin-bottom: $gutter;
  }

  .post-date,
  .guest-author {
    font-style: italic;
    color: $gray;
  }
}

/*
  Footer
 */
body {
  > footer {
    padding-top: 0;
  }
}
