
// Colours
$gray-darkest:            #222;
$gray-darker:             #444;
$gray-dark:               #666;
$gray:                    #888;
$gray-light:              #aaa;
$gray-lighter:            #bbb;
$gray-lightest:           #ddd;

$brand-color:             #8800ff;

$base-body-bg:            $gray-lightest;
$base-text-color:         $gray-darker;

$header-bg:               $gray-darker;
$header-text-color:       $gray-lightest;
$header-highlight:        white;

// Grid
$tablet-width: em(768);
$desktop-width: em(992);

$tablet-up: new-breakpoint(min-width $tablet-width 12);
$desktop-up: new-breakpoint(min-width $desktop-width 12);