<article>

{% if include.article %}
  {% comment %}
    Included on another page -- show excerpt.
  {% endcomment %}

  {% assign article = include.article %}
  <header>
    <h1>
      <a href="{{ post.url }}">
        {{ article.title }}
      </a>
    </h1>
  </header>
  <div class="article-content">
    {% if article.content contains "<!-- begin_excerpt -->" %}
      {{ article.content | split: "<!-- end_excerpt -->" | first | split: "<!-- begin_excerpt -->" | last }}
    {% else %}
      {{ article.excerpt }}
    {% endif %}
    {% comment %}
    {{ article.excerpt }}
    {{ post.content | strip_html | split: '\n\n' | first }}
    {{ post.content | markdownify | strip_html | truncatewords: 50 }}
    {% endcomment %}
  </div>
{% else %}
  {% comment %}
    This is a post page -- show full post.
  {% endcomment %}

  {% assign article = page %}
  <header>
    <h1>
      {{ article.title }}
    </h1>
    <div class="post-metadata">
      <time datetime="{{ article.date | date: "%Y-%m-%d" }}">{{ article.date | date_to_string }}</time>
      {% if article.guest_author %}
      &middot; Guest Author: <a href="{{ article.guest_author.url }}">{{ article.guest_author.name }}</a>
      {% endif %}
      {% if article.canonical %}
      &middot;
      <a href="{{ article.canonical }}">
        Original
      </a>
      {% endif %}
    </div>
  </header>

  {% if article.toc %}
  <nav class="toc">
    <details>
      <summary>Contents</summary>
      {% include toc.html html=content h_min=2 h_max=3 %}
    </details>
  </nav>
  {% endif %}

  <div class="article-content">
    {{ content }}
  </div>

  <footer>
    <div class="related">
      <h2>Related Posts</h2>
      {% assign related-posts = site.related_posts | slice: 0,3 %}
      {% include post-list.html posts=related-posts %}
    </div>
  </footer>

{% endif %}
</article>
