<article>

  {% if include.article %}
    {% assign article = include.article %}
  {% else %}
    {% assign full_page = true %}
    {% assign article = page %}
  {% endif %}

  <header>
    <h1>
      {% if full_page %}
        {{ article.title }}
      {% else %}
        <a href="{{ post.url }}">
          {{ article.title }}
        </a>
      {% endif %}
    </h1>
    <div class="post-metadata">
      <time datetime="{{ article.date | date: "%Y-%m-%d" }}">{{ article.date | date_to_string }}</time>
      {% if article.guest_author %}
      &middot; Guest Author: <a href="{{ article.guest_author.url }}">{{ article.guest_author.name }}</a>
      {% endif %}
      {% if article.canonical %}
      &middot;
      <a href="{{ article.canonical }}">
        Original
      </a>
      {% endif %}
    </div>
  </header>

  {% if article.toc %}
  <nav class="toc">
    <details>
      <summary>Contents</summary>
      {% include toc.html html=content h_min=2 h_max=3 %}
    </details>
  </nav>
  {% endif %}

  <div class="article-content">
    {% if full_page %}
      {{ content }}
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>

  {% if full_page %}
  <footer>
    <div class="related">
      <h2>Related Posts</h2>
      {% assign related-posts = site.related_posts | slice: 0,3 %}
      {% include post-list.html posts=related-posts %}
    </div>
  </footer>
  {% endif %}
</article>
