<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="description" content="{{ site.description }}">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.canonical %}
  <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}

  <!-- CSS -->
  {% assign cacheBust = site.time | date: '?v=%s' %}

  <link rel="stylesheet" href="{{ '/public/css/syntax/highlight.css' | append: cacheBust }}">
  <link rel="stylesheet" href="{{ '/public/css/styles.css' | append: cacheBust }}">

  <link rel="stylesheet" href="{{ '/public/assets/fontawesome/css/fontawesome.min.css' | append: cacheBust }}">
  <link rel="stylesheet" href="{{ '/public/assets/fontawesome/css/solid.min.css' | append: cacheBust }}">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
  <link rel="manifest" href="/public/favicons/site.webmanifest">
  <link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg" color="#477dca">
  <link rel="shortcut icon" href="/public/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#477dca">
  <meta name="msapplication-config" content="/public/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Open Graph social -->
  <meta property="og:image" content="/public/favicons/og-image.jpg">
  <meta property="og:image:width" content="279">
  <meta property="og:image:height" content="279">
  <meta property="og:title" content="Thom's blog">
  <meta property="og:description" content="Writing about software engineering">
  <meta property="og:url" content="https://thomwright.co.uk">

  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom.xml">

  {% include google_analytics.html %}
</head>
