---
---

@import "bourbon/bourbon";
// @import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "variables";
@import "mixins";

// TODO - fonts

/*
  Base
 */
body {
  margin: 0;
  padding: 0;
}

/*
  Main grid
 */
// $grid-columns : 12
$header-columns: 3;
$main-columns: $grid-columns - $header-columns;

body {
  @include outer-container(100%);

  // TODO - change breakpoint size (larger)

  > header,
  > main,
  > footer {
    @include span-columns($grid-columns);
  }

  > header {
    @include media($desktop-up) {
      @include span-columns($header-columns);
      @include fix-left;
    }
  }

  > main,
  > footer {
    @include media($desktop-up) {
      @include span-columns($main-columns);
      @include shift($header-columns);
    }
  }
}
