---
---

@import "bourbon/bourbon";
// @import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "variables";
@import "mixins";

// TODO - fonts

/*
  Base
 */
body {
  margin: 0;
  padding: 0;

  background-color: $base-body-bg;
  color: $base-text-color;

  main {
    padding: $gutter;
    @include media($desktop-up) {
      padding-left: 0;
    }
  }
}

/*
  Main grid
 */
// $grid-columns : 12
$header-columns: 3;
$main-columns: $grid-columns - $header-columns;

body {
  @include outer-container(100%);

  // TODO - change breakpoint size (larger)

  > header,
  > main,
  > footer {
    @include span-columns($grid-columns);
  }

  > header {
    @include media($desktop-up) {
      @include span-columns($header-columns);
      @include fix-left;
    }
  }

  > main,
  > footer {
    @include media($desktop-up) {
      @include span-columns($main-columns);
      @include shift($header-columns);
    }
  }
}

/*
  Header
 */
// Colours
body {
  > header {
    background-color: $header-bg;
    color: $header-text-color;

    h1 > a {
      color: white;
    }

    nav {
      a {
        color: $header-text-color;
      }
    }

    @include brand-border(bottom);
    @include media($desktop-up) {
      @include brand-border(right);
      @include remove-border(bottom);
    }
  }
}

// Positioning
body {
  > header {

    text-align: center;

    nav {
      li {
        display: inline-block;
        @include media($desktop-up) {
          display: list-item;
        }
      }

      a {
        @include horizontal-margin(5px);
      }
    }
  }
}

/*
  Articles
 */
article {
  background-color: white;
  @include card;
  padding: $gutter;
  margin-bottom: $gutter;
}
