/*
  Articles
 */

article {

  @include card;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-decoration-line: none;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  a.heading_anchor {
    &::after {
      content: " #";

      text-decoration-line: none;
      opacity: 0.5;
      display: inline-block;
      padding-left: $base-padding / 4;

      visibility: hidden;
    }

    &:hover {
      &::after {
        visibility: visible;
      }
    }
  }

  .article-content ul li {
    list-style-type: disc;
  }

  .toc {
    summary {
      font-weight: bold;
    }

    ul li {
      list-style-type: none;
    }
  }

  .post-metadata {
    padding-top: 1em;
    font-style: italic;
    color: $base-font-color-lighter;
    > * {
      @include horizontal-padding($base-padding / 4);
    }
  }

  img,
  video {
    max-width: 100%;
  }

  .article-content>figure {
    @include vertical-margin($small-spacing);
  }

  max-width: $max-content-width;

  dt {
    font-weight: bold;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  table {
    @mixin table-border($side) {
      border-#{$side}-width: 1px;
      border-#{$side}-style: solid;
      border-#{$side}-color: $gray-light;
    }

    margin-bottom: $small-spacing;

    border-spacing: 0;

    @include table-border(top);
    @include table-border(bottom);

    th, td {
      border-width: 0px;
      padding: 0.5em;
    }
    th {
      @include table-border(bottom);
    }
  }

  aside {
    display: flex;

    padding: $base-padding * 0.75;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

    @include vertical-margin($base-padding);

    p {
      margin: 0px;
    }

    @mixin color($c) {
      border-color: $c;
      background-color: scale-color($c, $alpha: -95%);

      .icon {
        color: $c;
      }
    }

    &.aside {
      @include color($aside)
    }
    &.info {
      @include color($info)
    }
    &.warning {
      @include color($warning)
    }
    &.alert {
      @include color($alert)
    }
    &.success {
      @include color($success)
    }

    .callout-content {
      display: flex;
      flex-direction: column;
      gap: $small-spacing;
    }
  }

  .footnotes {
    margin-top: $base-padding;
    @include single-side-border-width(top, $gray-light, 1px);

    ol {
      margin-top: $base-padding;
      font-size: smaller;
    }
  }
}
