/*
  Articles
 */
article {

  @include card;

  ul li {
    list-style-type: disc;
  }

  .post-metadata {
    padding-top: 1em;
    font-style: italic;
    color: $gray;
  }

  max-width: $max-content-width;
}
