/*
  Base
 */
body {
  margin: 0;
  padding: 0;

  background-color: $base-body-bg;
  color: $base-font-color;

  font: {
    family: $base-font-family;
    weight: 400;
    size: $base-font-size;
  }
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  @include hover-transitions(
    (
      color: (
        normal: $link-color,
        hover: $link-color-highlight,
      ),
    )
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $heading-font-family;
  }

  line-height: $heading-line-height;
  margin: modular-scale(1) 0 $small-spacing;
}

h1 {
  font: {
    weight: 700;
    size: modular-scale(3);
  }
}

h2 {
  font: {
    weight: 700;
    size: modular-scale(2);
  }
  color: lighten($base-font-color, 5%);
}

h3 {
  font: {
    weight: 400;
    size: modular-scale(1);
  }
  color: lighten($base-font-color, 10%);
}

h4 {
  font: {
    weight: 400;
    size: modular-scale(0);
  }
  color: lighten($base-font-color, 20%);
}

nav {
  ul {
    li {
      list-style-type: none;
    }
  }
}

ol,
ul {
  padding-left: $base-padding;
  margin-top: 0;
}

li {
  margin-top: $small-spacing * 0.5;
  margin-bottom: $small-spacing * 0.5;
}

p {
  margin: 0 0 $small-spacing;
}

blockquote {
  font-style: italic;

  @include single-side-border(left, $lighter-blue);
  background-color: $gray-lightest;

  @include horizontal-padding($base-padding);
  @include horizontal-margin(0);
  margin-block-start: 0;

  p {
    margin: 0;
    @include vertical-padding($small-spacing);
  }
}

strong {
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  text-align: center;

  img {
    min-width: 0;
    object-fit: scale-down;
  }
}

figure.multi-img {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: $small-spacing;

  figcaption {
    flex-basis: 100%;
  }
}

.multi-figure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  figcaption {
    @include horizontal-padding($base-padding / 4);
  }
}

figcaption {
  font-size: 15px;
  font-style: italic;
}

.small-img {
  max-width: 320px;
}
.med-img {
  max-width: 500px;
}
.img-circle {
  border-radius: 50%;
}

.related {
  h2 {
    font: {
      weight: 400;
      size: modular-scale(1);
    }
    color: lighten($base-font-color, 10%);
  }
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: $small-spacing;
  }

  .date {
    color: $base-font-color-lighter;
  }

  .tags {
    padding-left: $base-padding / 2;
    font-size: small;
  }
}

.breadcrumb {
  font-style: italic;
  color: $base-font-color-lighter;
}
