
@mixin card {
  @include border-shadow;
  background-color: white;

  margin-bottom: $base-padding;
  &:last-child {
    margin-bottom: 0;
  }

  > * {
    @include vertical-margin($base-padding);

    @include horizontal-padding($base-padding);
    &:first-child {
      padding-top: $base-padding;
    }
    &:last-child {
      padding-bottom: $base-padding;
    }

    @include media($tablet-up) {
      @include horizontal-padding($base-padding * 2);
      &:first-child {
        padding-top: $base-padding * 2;
      }
      &:last-child {
        padding-bottom: $base-padding * 2;
      }
    }
  }

  header {
    h1 {
      @include vertical-margin(0);
    }
    margin-bottom: $base-padding;
  }

  footer {
    background: darken(white, 2%);
    border-top: 1px solid $gray-lighter;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 5%;
  }
}
