/*
  Header
 */
// Colours
body {
  > header {
    color: $header-font-color;

    &,
    nav {
      background-color: $header-bg;
    }

    a {
      color: $header-font-color;
      &.active {
        font-weight: bold;
        color: $header-font-highlight;
      }
    }

    h1 a,
    a:active,
    a:focus,
    a:hover {
      color: $header-font-highlight;
    }

    nav {
      @include media($desktop-down) {
        @include brand-border(bottom);
      }
    }
    @include media($desktop-up) {
      @include brand-border(right);
    }
  }
}

// Positioning & Sizing
body {
  > header {
    text-align: center;

    a {
      display: block;
      padding: 10px;
    }

    nav {
      li {
        display: inline-block;
        @include horizontal-margin(3%);
        @include media($desktop-up) {
          display: list-item;
          margin: 10%;
        }
      }
    }
  }
}

// TODO sticky header - maybe use `position: sticky;` when it's supported?

// Other
.site-title {
  font-size: $title-font-size;
  font-weight: 400;
  margin: modular-scale(-2) 0;
  @include media($desktop-up) {
    margin: modular-scale(1) 0 $small-spacing;
  }
}

body {
  > header {
    ul {
      margin: 0;
      padding: 0;
    }
  }
}
