code {
  font-family: $mono-font-family;
  font-weight: 400;
}

code.language-plaintext {
  background-color: $base-highlight;
  border-radius: $base-border-radius;
  padding: 0.2em 0.4em;
}

.highlight {
  font-family: $mono-font-family;
  font-weight: 400;
  border-radius: $base-border-radius;
}

pre.highlight {
  padding: 1em;
  overflow-x: auto;
}
