---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    {% include article.html article=post %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="newer">Newer</span>
  {% endif %}
</div>
